<div id="paste-citations">
    <label for="raw-citations">{{ 'citation.raw'|trans }}</label>
    <textarea class="form-control no-radius" id="raw-citations"></textarea>
    <p class="help-block">{{ 'citation.raw.help'|trans }}</p>
</div>
<div class="row">
    <div class="btn-toolbar">
        <button class="btn btn-primary pull-right" type="button" id="parse-citations-button">{{ 'parse.citations'|trans }}</button>
        <button class="btn btn-primary pull-right" type="button" id="parse-extra-citations-button">{{ 'parse.extra.citations'|trans }}</button>
    </div>
</div>
