<div id="paste-citations">
    <label for="raw-citations">{{ 'citation.raw'|trans }}</label>
    <textarea class="form-control" name="raw_citations" id="raw-citations"></textarea>
    <p class="help-block">{{ 'citation.raw.help'|trans }}</p>
</div>

<hr>